@model MvcSocialWeb.ViewModels.Friend.SearchViewModel

@{
    ViewData["Title"] = "Поиск пользователей";
}

<div class="block-reg background-white">
    @if (Model.FindUsers.Count == 0)
    {
        <label>Поиск не дал результатов!</label>
    }
    else{
        @foreach (var user in Model.FindUsers)
        {
            <div>
                <label>@user.GetFullName()</label>
            </div>
        }
    }
</div>
