@model MvcSocialWeb.ViewModels.Friend.SearchViewModel

@{
    ViewData["Title"] = "Поиск пользователей";
}

<div class="block-reg background-white">
    @if (Model.FindUsers.Count == 0)
    {
        <label>Поиск не дал результатов!</label>
    }
    else{
        @foreach (var user in Model.FindUsers)
        {
            <div>
                <label>@user.GetFullName()</label>
                @if (!user.IsFriendWithCurrent){
                    <form method="post" asp-controller="Friend" asp-action="AddFriend" asp-route-id="@user.Id">
                        <button type="submit" class="">Добавить в друзья</button>
                    </form>
                }
            </div>
        }
    }
</div>
