@using Microsoft.AspNetCore.Identity;
@using MvcSocialWeb.Data.DBModel;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" asp-controller="AccountManager" asp-action="Logout">
        <button class="enter_submit margin_0" type="submit">Выход</button>
    </form>
}