@model MvcSocialWeb.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

<div class="block-reg background-white">
    <h4 class="center margin-bottom_15">Добро пожаловать!</h4>
    <form class="frm" method="post" asp-controller="AccountManager" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="mrgn">
                <input asp-for="UserEmail" class="form-control" placeholder="Введите email" />
                <span asp-validation-for="UserEmail" class="text-danger text-size_12 right-pos-messsage"></span>
            </div>
            <div class="mrgn">
                <input asp-for="Password" class="form-control" placeholder="Введите пароль"/>
                <span asp-validation-for="Password" class="text-danger text-size_12 right-pos-messsage"></span>
            </div>
            <button class="enter_submit" type="submit">Войти</button>
        </div>
    </form>
</div>
