@model MvcSocialWeb.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

<div class="block-reg background-white">
    <h4 class="center reg-title">Впервые с нами?</h4>
    <div class="center text-color-gray margin-bottom_15">Регистрация нового пользователя</div>
    <form class="frm" method="get" asp-controller="Register" asp-action="RegisterPart2">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <div class="mrgn">
                <input asp-for="FirstName" class="form-control" placeholder="Введите имя"/>
                <span asp-validation-for="FirstName" class="text-danger text-size_12 right-pos-messsage"></span>
            </div>
        </div>

        <div>
            <div class="mrgn">
                <input asp-for="LastName" class="form-control" placeholder="Введите фамилию"/>
                <span asp-validation-for="LastName" class="text-danger text-size_12 right-pos-messsage"></span>
            </div>
        </div>

        <div class="text-color-gray text-size_12">Дата рождения</div>

        <div class="mrgn mrgn-date center">
            <select asp-for="Date" class="form-control date_control" id="ddlDay">
                <option>@Model.Date</option>
            </select>

            <select asp-for="Month" class="form-control date_control" id="ddlMonth"
            asp-items="Html.GetEnumSelectList<MvcSocialWeb.ViewModels.Months>()"
                    onchange="PopulateDays()">
                <option>@Model.Month</option>
            </select>

            <select asp-for="Year" class="form-control date_control" id="ddlYear" 
            asp-items="Enumerable.Range(DateTime.Now.AddYears(-100).Year, 
                        DateTime.Now.AddYears(-14).Year - DateTime.Now.AddYears(-100).Year)
                        .Reverse().Select(x => new SelectListItem(x.ToString(), x.ToString()))"
                    onchange="PopulateDays()">
                <option>@Model.Year</option>
            </select>
        </div>
        <button class="btn_submit" type="submit">Продолжить регистрацию</button>
    </form>

    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script type="text/javascript">
        function PopulateDays(){
            const ddlMonth = document.getElementById("ddlMonth");
            const ddlYear = document.getElementById("ddlYear");
            const ddlDay = document.getElementById("ddlDay");

            const y = ddlYear.options[ddlYear.selectedIndex].value;
            const m = ddlMonth.options[ddlMonth.selectedIndex].value;

            if(m != 0 && y != 0){
                const dayCount = 32 - new Date(y, m - 1, 32).getDate();
                ddlDay.options.length = 0;
                for(let i = 1; i <= dayCount; i++){
                    AddOption(ddlDay, i, i);
                }
            }
        }

        function AddOption(ddl, text, value){
            const opt = document.createElement("option");
            opt.text = text;
            opt.value = value;
            ddl.options.add(opt);
        }
    </script>
</div>