@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="side">
        Описание самой клёвой соцсети
    </div>

    <main class="main">
        <partial name="Register" />
    </main>
</div>
