.main {
    -ms-flex: 40%; /*IE10*/
    flex: 40%;
    padding: 20px;
}

.side {
    -ms-flex: 60%; /*IE10*/
    flex: 60%;
    padding: 20px;
}

.row {
    display: -ms-flexbox; /*IE10*/
    display: flex;
    -ms-flex-wrap: wrap; /*IE10*/
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #edeef0;
}

.header {
}

.topnav {
    padding: 20px;
    width: 100%;
    background-color: white;
}

.right-nav-block{
    flex: 35%;
}

.left-nav-block{
    flex: 65%;
}

.input-search {
    outline: none;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px 8px;
    transition: .2s;
}

    .input-search:focus {
        background-color: #edeef0;
        border-color: #aab0b5;
        transition: .2s;
    }

.main-img {
    width: 100%;
    max-width: max-content;
}

.input-validation-error{
    border-color: red;
}

.block-reg {
    padding: 40px;
    margin: 30px;
}

.block-reg-step2 {
    padding: 40px;
    width: 50%;
    margin: 40px auto;
}

.label-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mrgn {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin: 7px;
}

.mrgn-date{
    flex-direction: row;
}

.frm {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.logout-frm {
    display: inline-block;
}

.link {
    color: gray;
    transition: .2s;
}

    .link:hover {
        color: black;
        transition: .2s;
    }

.date_control-wrapper {
    position: relative;
    flex: 15%;
    margin: 0 4px;
}

.date_control-wrapper:nth-of-type(2) {
    flex: 25%;
}

    .date_control-wrapper:nth-of-type(2)::before {
        transform: translate(-50%, -50%);
    }

    .date_control-wrapper::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        left: 90%;
        top: 50%;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='black' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
        transform: translate(-80%, -50%);
        pointer-events: none;
    }

.date_control {
    appearance: none;
    color: #999;
}

.reg-title{
    margin-bottom: 5px;
}

.enter_submit, .btn_submit{
    border: none;
    outline: none;
    color: white;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.btn_submit {
    background-color: #32a852;
    transition: .2s;
}

    .btn_submit:hover, .btn_submit:focus {
        background-color: #2d9649;
        transition: .2s;
    }

.enter_submit {
    background-color: #4169e1;
    transition: .2s;
}

    .enter_submit:hover, .enter_submit:focus {
        background-color: #3a5ec9;
        transition: .2s;
    }

.svg-container{
    display: inline-block;
}

.date_control > option.default-opt{
    color: #999;
}

.date_control > option {
    color: #212529;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.user-container{
    display: flex;
    margin-bottom: 40px;
}

.main-user{
    flex: 55%;
}

.user-side{
    flex: 40%;
    margin-right: 5%;
}

.info{
    border-top: 1px dashed lightgray;
    border-bottom: 1px dashed lightgray;
    margin: 2% 0;
    padding-left: 2%;
}

.text{
    margin: 3% 0;
}

.title{
    margin-bottom: 3%;
}

.wrapper{
    margin-top: 2%;
    padding: 3%;
}

.textarea{
    resize: none;
}

/*---------------------------*/

.center {
    justify-content: center;
    text-align: center;
}

.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}

.text-color-gray {
    color: gray;
}

.text-color-lightgray{
    color: darkgray;
}

.default-color {
    color: #212529;
}

.text-size_12 {
    font-size: 12px;
}

.margin-bottom_15{
    margin-bottom: 15px;
}

.margin-bottom_40{
    margin-bottom: 40px;
}

.right-pos-messsage {
    align-self: end;
}

.width-initial{
    width: initial;
}

.width-500 {
    width: 500px;
}

.width-35p{
    width: 35%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-alitem-center{
    display: flex;
    align-items: center;
}

.flex-alitem-start {
    display: flex;
    align-items: start;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-20{
    flex: 20%;
}

.flex-50{
    flex: 50%;
}

.margin_7 {
    margin: 7px;
}

.margin_0{
    margin: 0;
}