.main {
    -ms-flex: 30%; /*IE10*/
    flex: 30%;
    padding: 20px;
}
@media(max-width:1400px){
    .main {
        -ms-flex: 36%; /*IE10*/
        flex: 36%;
    }
}
@media(max-width:1200px) {
    .main {
        -ms-flex: 40%; /*IE10*/
        flex: 40%;
    }
}
@media(max-width:992px) {
    .main {
        -ms-flex: 30%; /*IE10*/
        flex: 30%;
    }
}

.side {
    -ms-flex: 60%; /*IE10*/
    flex: 60%;
    padding: 20px;
}
@media(max-width:1200px) {
    .side {
        -ms-flex: 50%; /*IE10*/
        flex: 50%;
    }
}
@media(max-width:992px) {
    .main {
        -ms-flex: 60%; /*IE10*/
        flex: 60%;
    }
}

.row {
    display: -ms-flexbox; /*IE10*/
    display: flex;
    -ms-flex-wrap: wrap; /*IE10*/
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #edeef0;
}

.header {
}

.topnav {
    padding: 20px;
    width: 100%;
    background-color: white;
}
@media (max-width: 576px){
    .media-container {
        width: 540px;
    }
}


.right-nav-block{
    flex: 20%;
}
@media (max-width:1400px){
    .right-nav-block{
        flex: 30%;
    }
}
@media (max-width:1200px) {
    .right-nav-block {
        flex: 40%;
    }
}
@media (max-width:992px) {
    .right-nav-block {
        flex: 65%;
    }
}
@media (max-width:767.5px) {
    .right-nav-block {
        flex: 100%;
    }
}


.left-nav-block{
    flex: 65%;
}

.input-search {
    outline: none;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px 8px;
    transition: .2s;
}

    .input-search:focus {
        background-color: #edeef0;
        border-color: #aab0b5;
        transition: .2s;
    }

.main-img {
    width: 100%;
    max-width: max-content;
}

.input-validation-error{
    border-color: red;
}

.validation-summary-errors {
    background: antiquewhite;
    text-align: center;
}

.validation-summary-errors > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.block-reg {
    padding: 40px;
    margin: 30px;
}

.block-reg-step2 {
    padding: 40px;
    width: 50%;
    margin: 40px auto;
}
@media(max-width: 1200px) {
    .block-reg-step2 {
        min-width: 540px;
    }
}
@media(max-width: 576px){
    .block-reg-step2 {
        min-width: 430px;
    }
}

.label-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mrgn {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin: 7px;
}

.mrgn-date{
    flex-direction: row;
}

.frm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.logout-frm {
    display: inline-block;
}

.link {
    color: gray;
    transition: .2s;
}

    .link:hover {
        color: black;
        transition: .2s;
    }

.date_control-wrapper {
    position: relative;
    flex: 15%;
    margin: 0 4px;
}

.date_control-wrapper:nth-of-type(2) {
    flex: 25%;
}

    .date_control-wrapper:nth-of-type(2)::before {
        transform: translate(-50%, -50%);
    }

    .date_control-wrapper::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        left: 90%;
        top: 50%;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='black' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
        transform: translate(-80%, -50%);
        pointer-events: none;
    }

.date_control {
    appearance: none;
    color: #999;
}

.reg-title{
    margin-bottom: 5px;
}

.enter_submit, .btn_submit, .primary_btn {
    border: none;
    outline: none;
    color: white;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    transition: .2s;
}

.btn_submit {
    background-color: #32a852;
}

    .btn_submit:hover, .btn_submit:focus {
        background-color: #2d9649;
        transition: .2s;
    }

.enter_submit {
    background-color: #4169e1;
}

    .enter_submit:hover, .enter_submit:focus {
        background-color: #3a5ec9;
        transition: .2s;
    }

.primary_btn {
    background-color: #304fac;
    padding: 5px 15px;
    font-size: 0.9rem;
    margin: 0;
}

    .primary_btn:hover, .primary_btn:focus {
        background-color: #2d4898;
        transition: .2s;
    }

    .primary_btn:disabled, .primary_btn:disabled:hover {
        background-color: #a9a5a5;
    }

.svg-container {
    display: inline-block;
}

.date_control > option.default-opt{
    color: #999;
}

.date_control > option {
    color: #212529;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.user-container{
    display: flex;
    margin-bottom: 40px;
}

.user-image {
    max-width: 500px;
    width: 100%;
    align-self: center;
}

.main-user{
    flex: 55%;
}

.user-side{
    flex: 40%;
    margin-right: 5%;
}

.info{
    border-top: 1px dashed lightgray;
    border-bottom: 1px dashed lightgray;
    margin: 2% 0;
    padding-left: 2%;
}

.info form{
    width: 100%;
}

.text{
    margin: 2% 0;
}

.title{
    margin-bottom: 3%;
}

.wrapper{
    margin-top: 2%;
    padding: 3%;
}

.textarea{
    resize: none;
    white-space: pre-wrap;
}

.wrapper-friend{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    min-height: 70vh;
}

    .wrapper-friend .user-block{
        flex-basis: 29%;
        min-width: 335px;
    }

.user-block {
    margin: 2%;
    align-items: center;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media(max-width: 1200px) {
    .info-container {
        max-width: 330px;
    }
}
@media(max-width: 767.5px){
    .info-container {
        max-width: 150px;
    }
}

.info .user-block {
    flex-basis: 29%;
    min-width: fit-content;
}

.info .user-block__img {
    min-width: 100%;
}

.user-block > *{
    margin-bottom: 3%;
}

.user-block__img {
    width: 30%;
}

.user-block__label-block {
    flex-basis: 63%;
    justify-content: center;
}

.user-block__form{
    width: 100%;
}

@media (max-width: 576px) {
    .container {
        min-width: 540px;
    }
}

.chat-container{
    margin-top: 2%;
    margin-bottom: 25px;
    max-width: 900px;
    padding: 15px;
}

.chat-wrapper {
    width: 90%;
}

.chat-block {
    width: 80%;
    margin: 2% auto;
    background: #edeef0;
    border: dimgray 2px solid;
    border-radius: 5px;
    padding: 2% 4%;
    overflow-y: scroll;
    max-height: 320px;
}

.message {
    width: fit-content;
    background: #4c4a4a;
    border-radius: 15px;
    padding: 10px;
    color: whitesmoke;
    font-size: 0.9rem;
    margin: 1%;
    max-width: 70%;
    white-space: pre-wrap;
}

    .message.right-pos-messsage {
        background: #5e5eac;
    }

.chat-wrapper .input-validation-error {
    border-color: #ced4da;
}

/*---------------------------*/
.display-none {
    display: none;
}

.center {
    justify-content: center;
    text-align: center;
}

.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}

.text-color-gray {
    color: gray;
}

.text-color-lightgray{
    color: darkgray;
}

.default-color {
    color: #212529;
}

.text-size_12 {
    font-size: 12px;
}

.margin-bottom_15{
    margin-bottom: 15px;
}

.margin-bottom_40{
    margin-bottom: 40px;
}

.margin-side-25p{
    margin: 0 25%;
}

.right-pos-messsage {
    align-self: end;
}

.width-initial{
    width: initial;
}

.width-100{
    max-width: 100px;
}

.max-width-500 {
    max-width: 500px;
}

.width-35p{
    width: 35%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-justif-center {
    display: flex;
    justify-content: center;
}

.flex-alitem-center{
    display: flex;
    align-items: center;
}

.flex-alitem-start {
    display: flex;
    align-items: start;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-20{
    flex: 20%;
}

.flex-50{
    flex: 50%;
}

.margin_7 {
    margin: 7px;
}

.margin_0{
    margin: 0;
}