.main {
    -ms-flex: 40%;  /*IE10*/
    flex: 40%;
    padding: 20px;
}

.side {
    -ms-flex: 60%;  /*IE10*/
    flex: 60%;
    padding: 20px;
}

.row {
    display: -ms-flexbox; /*IE10*/
    display: flex;
    -ms-flex-wrap: wrap; /*IE10*/
    flex-wrap: wrap;
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: #edeef0;
}

.header{

}

.topnav{
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: white;
}

.main-img{
    width: 100%;
    max-width: max-content;
}

.block-reg{

}

.mrgn {
}

.frm{

}

.logout-frm{

}

.link {

}

.enter_submit{

}

.date_control{

}

.btn_submit{

}

.center{

}

.background-main { background-color: #edeef0; }
.background-white{ background-color: white; }
.text-color-gray{ color: gray; }
.text-size_12{ font-size: 12px; }
