.main {
    -ms-flex: 40%; /*IE10*/
    flex: 40%;
    padding: 20px;
}

.side {
    -ms-flex: 60%; /*IE10*/
    flex: 60%;
    padding: 20px;
}

.row {
    display: -ms-flexbox; /*IE10*/
    display: flex;
    -ms-flex-wrap: wrap; /*IE10*/
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #edeef0;
}

.header {
}

.topnav {
    padding: 20px;
    width: 100%;
    background-color: white;
}

.main-img {
    width: 100%;
    max-width: max-content;
}

.input-validation-error{
    border-color: red;
}

.block-reg {
    padding: 40px;
    margin: 30px;
}

.block-reg-step2 {
    padding: 40px;
    width: 50%;
    margin: 40px auto;
}

.label-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mrgn {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin: 7px;
}

.mrgn-date{
    flex-direction: row;
}

.frm {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.logout-frm {
    display: inline-block;
}

.link {
    color: gray;
    transition: .2s;
}

    .link:hover {
        color: black;
        transition: .2s;
    }

.date_control {
    flex: 15%;
    appearance: menulist;
    margin: 0 4px;
}

.date_control:nth-of-type(2){
    flex: 25%;
}

.reg-title{
    margin-bottom: 5px;
}

.enter_submit, .btn_submit{
    border: none;
    outline: none;
    color: white;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.btn_submit {
    background-color: #32a852;
    transition: .2s;
}

    .btn_submit:hover {
        background-color: #2d9649;
        transition: .2s;
    }

.enter_submit {
    background-color: #4169e1;
    transition: .2s;
}

    .enter_submit:hover {
        background-color: #3a5ec9;
        transition: .2s;
    }

/*---------------------------*/

.center {
    justify-content: center;
    text-align: center;
}

.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}

.text-color-gray {
    color: gray;
}

.text-size_12 {
    font-size: 12px;
}

.margin-bottom_15{
    margin-bottom: 15px;
}

.margin-bottom_40{
    margin-bottom: 40px;
}

.right-pos-messsage {
    align-self: end;
}

.width-initial{
    width: initial;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.margin_7 {
    margin: 7px;
}